<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style9.css' %}"> 

<body>
    <div class="container">
        <h1>Etudiants</h1>
        <table id="etudiant" border="1">
            <thead>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
                
                <th colspan="2" id="mid">Action</th>
            </thead>
            {% for x in mem %}
            <tr>
                <td>{{x.matricule}}</td>
                <td>{{x.nom}}</td>
                <td>{{x.prenom}}</td>
                <td>
                    <a href="delete/{{x.id}}"><button id="up">delete</button></a>
                </td>
                
            </tr>
            {% endfor %}
        </table>
        <br><br>
        
    </div>
</body>

</html>